openapi: 3.0.1
info:
  title: T-Invest API
  termsOfService: https://www.tbank.ru/invest/disclaimers/basic-information/
  contact:
    email: al.a.volkov@tbank.ru
  version: '1.21'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://invest-public-api.tinkoff.ru/rest/
    description: Работа с биржей
  - url: https://sandbox-invest-public-api.tinkoff.ru/rest/
    description: Работа в песочнице
security:
  - Bearer: []
externalDocs:
  description: Документация T-Invest API
  url: https://russianinvestments.github.io/investAPI/
tags:
  - name: InstrumentsService
  - name: MarketDataService
  - name: OperationsService
  - name: OrdersService
  - name: SandboxService
  - name: StopOrdersService
  - name: UsersService
paths:
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/BondBy:
    post:
      operationId: InstrumentsService_BondBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        description: Запрос получения инструмента по идентификатору.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BondResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения облигации по её идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Bonds:
    post:
      operationId: InstrumentsService_Bonds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        description: Запрос получения инструментов.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BondsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка облигаций.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Currencies:
    post:
      operationId: InstrumentsService_Currencies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        description: Запрос получения инструментов.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CurrenciesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка валют.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/CurrencyBy:
    post:
      operationId: InstrumentsService_CurrencyBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        description: Запрос получения инструмента по идентификатору.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CurrencyResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения валюты по её идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/EditFavorites:
    post:
      operationId: InstrumentsService_EditFavorites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EditFavoritesRequest'
        description: Запрос редактирования списка избранных инструментов.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EditFavoritesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод редактирования списка избранных инструментов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/EtfBy:
    post:
      operationId: InstrumentsService_EtfBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        description: Запрос получения инструмента по идентификатору.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EtfResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения инвестиционного фонда по его идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Etfs:
    post:
      operationId: InstrumentsService_Etfs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        description: Запрос получения инструментов.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EtfsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка инвестиционных фондов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/FindInstrument:
    post:
      operationId: InstrumentsService_FindInstrument
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1FindInstrumentRequest'
        description: Запрос на поиск инструментов.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1FindInstrumentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод поиска инструмента.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/FutureBy:
    post:
      operationId: InstrumentsService_FutureBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        description: Запрос получения инструмента по идентификатору.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1FutureResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения фьючерса по его идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Futures:
    post:
      operationId: InstrumentsService_Futures
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        description: Запрос получения инструментов.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1FuturesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка фьючерсов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAccruedInterests:
    post:
      operationId: InstrumentsService_GetAccruedInterests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAccruedInterestsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAccruedInterestsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения накопленного купонного дохода по облигации.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAssetBy:
    post:
      operationId: InstrumentsService_GetAssetBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AssetRequest'
        description: Запрос актива по идентификатору.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssetResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения актива по его идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAssetFundamentals:
    post:
      operationId: InstrumentsService_GetAssetFundamentals
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAssetFundamentalsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAssetFundamentalsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения фундаментальных показателей по активу
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAssetReports:
    post:
      operationId: InstrumentsService_GetAssetReports
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAssetReportsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAssetReportsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения расписания выхода отчетностей эмитентов
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAssets:
    post:
      operationId: InstrumentsService_GetAssets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AssetsRequest'
        description: Запрос списка активов.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssetsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: >-
        Метод получения списка активов. Метод работает для всех инструментов, за
        исключением срочных - опционов и фьючерсов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetBondCoupons:
    post:
      operationId: InstrumentsService_GetBondCoupons
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetBondCouponsRequest'
        description: Запрос купонов по облигации.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetBondCouponsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения графика выплат купонов по облигации.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetBondEvents:
    post:
      operationId: InstrumentsService_GetBondEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetBondEventsRequest'
        description: События по облигации.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetBondEventsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения событий по облигации
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetBrandBy:
    post:
      operationId: InstrumentsService_GetBrandBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetBrandRequest'
        description: Запрос бренда.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Brand'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения бренда по его идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetBrands:
    post:
      operationId: InstrumentsService_GetBrands
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetBrandsRequest'
        description: Запрос списка брендов.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetBrandsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка брендов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetConsensusForecasts:
    post:
      operationId: InstrumentsService_GetConsensusForecasts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetConsensusForecastsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetConsensusForecastsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения мнения аналитиков по инструменту
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetCountries:
    post:
      operationId: InstrumentsService_GetCountries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetCountriesRequest'
        description: Запрос справочника стран.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetCountriesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка стран.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetDividends:
    post:
      operationId: InstrumentsService_GetDividends
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetDividendsRequest'
        description: Запрос дивидендов.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetDividendsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод для получения событий выплаты дивидендов по инструменту.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetFavorites:
    post:
      operationId: InstrumentsService_GetFavorites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetFavoritesRequest'
        description: Запрос списка избранных инструментов, входные параметры не требуются.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetFavoritesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка избранных инструментов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetForecastBy:
    post:
      operationId: InstrumentsService_GetForecastBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetForecastRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetForecastResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения прогнозов инвестдомов по инструменту
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetFuturesMargin:
    post:
      operationId: InstrumentsService_GetFuturesMargin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetFuturesMarginRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetFuturesMarginResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения размера гарантийного обеспечения по фьючерсам.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetInstrumentBy:
    post:
      operationId: InstrumentsService_GetInstrumentBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        description: Запрос получения инструмента по идентификатору.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1InstrumentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения основной информации об инструменте.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Indicatives:
    post:
      operationId: InstrumentsService_Indicatives
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1IndicativesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1IndicativesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения индикативных инструментов (индексов, товаров и др.)
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/OptionBy:
    post:
      operationId: InstrumentsService_OptionBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        description: Запрос получения инструмента по идентификатору.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OptionResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения опциона по его идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Options:
    post:
      operationId: InstrumentsService_Options
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        description: Запрос получения инструментов.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OptionsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Deprecated Метод получения списка опционов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/OptionsBy:
    post:
      operationId: InstrumentsService_OptionsBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1FilterOptionsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OptionsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка опционов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/ShareBy:
    post:
      operationId: InstrumentsService_ShareBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        description: Запрос получения инструмента по идентификатору.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ShareResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения акции по её идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Shares:
    post:
      operationId: InstrumentsService_Shares
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        description: Запрос получения инструментов.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SharesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка акций.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/TradingSchedules:
    post:
      operationId: InstrumentsService_TradingSchedules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1TradingSchedulesRequest'
        description: Запрос расписания торгов.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TradingSchedulesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения расписания торгов торговых площадок.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetCandles:
    post:
      operationId: MarketDataService_GetCandles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetCandlesRequest'
        description: Запрос исторических свечей.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetCandlesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса исторических свечей по инструменту.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetClosePrices:
    post:
      operationId: MarketDataService_GetClosePrices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetClosePricesRequest'
        description: Запрос цен закрытия торговой сессии по инструментам.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetClosePricesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса цен закрытия торговой сессии по инструментам.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetLastPrices:
    post:
      operationId: MarketDataService_GetLastPrices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetLastPricesRequest'
        description: Запрос получения цен последних сделок.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetLastPricesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса цен последних сделок по инструментам.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetLastTrades:
    post:
      operationId: MarketDataService_GetLastTrades
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetLastTradesRequest'
        description: Запрос обезличенных сделок за последний час.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetLastTradesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса обезличенных сделок за последний час.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetOrderBook:
    post:
      operationId: MarketDataService_GetOrderBook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrderBookRequest'
        description: Запрос стакана.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrderBookResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения стакана по инструменту.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetTechAnalysis:
    post:
      operationId: MarketDataService_GetTechAnalysis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetTechAnalysisRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetTechAnalysisResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения технических индикаторов по инструменту
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetTradingStatus:
    post:
      operationId: MarketDataService_GetTradingStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetTradingStatusRequest'
        description: Запрос получения торгового статуса.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetTradingStatusResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса статуса торгов по инструментам.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetTradingStatuses:
    post:
      operationId: MarketDataService_GetTradingStatuses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetTradingStatusesRequest'
        description: Запрос получения торгового статуса.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetTradingStatusesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса статуса торгов по инструментам.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataStreamService/MarketDataServerSideStream:
    post:
      operationId: MarketDataStreamService_MarketDataServerSideStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1MarketDataServerSideStreamRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stream_result_of_v1MarketDataResponse'
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Server-side стрим предоставления биржевой информации.
      tags:
        - MarketDataStreamService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataStreamService/MarketDataStream:
    post:
      operationId: MarketDataStreamService_MarketDataStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1MarketDataRequest'
        description: >-
          Запрос подписки или отписки на определённые биржевые данные.
          (streaming inputs)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stream_result_of_v1MarketDataResponse'
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Bi-directional стрим предоставления биржевой информации.
      tags:
        - MarketDataStreamService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetBrokerReport:
    post:
      operationId: OperationsService_GetBrokerReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BrokerReportRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BrokerReportResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения брокерского отчёта.
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetDividendsForeignIssuer:
    post:
      operationId: OperationsService_GetDividendsForeignIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetDividendsForeignIssuerRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetDividendsForeignIssuerResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения отчёта "Справка о доходах за пределами РФ".
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetOperations:
    post:
      operationId: OperationsService_GetOperations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1OperationsRequest'
        description: Запрос получения списка операций по счёту.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OperationsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: >-
        Метод получения списка операций по счёту.При работе с данным методом
        необходимо учитывать

        [особенности взаимодействия](/investAPI/operations_problems) с данным
        методом.
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetOperationsByCursor:
    post:
      operationId: OperationsService_GetOperationsByCursor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOperationsByCursorRequest'
        description: Запрос списка операций по счёту с пагинацией.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOperationsByCursorResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: >-
        Метод получения списка операций по счёту с пагинацией. При работе с
        данным методом необходимо учитывать

        [особенности взаимодействия](/investAPI/operations_problems) с данным
        методом.
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetPortfolio:
    post:
      operationId: OperationsService_GetPortfolio
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PortfolioRequest'
        description: Запрос получения текущего портфеля по счёту.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PortfolioResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения портфеля по счёту.
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetPositions:
    post:
      operationId: OperationsService_GetPositions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PositionsRequest'
        description: Запрос позиций портфеля по счёту.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PositionsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка позиций по счёту.
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetWithdrawLimits:
    post:
      operationId: OperationsService_GetWithdrawLimits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WithdrawLimitsRequest'
        description: Запрос доступного для вывода остатка.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WithdrawLimitsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения доступного остатка для вывода средств.
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsStreamService/PortfolioStream:
    post:
      operationId: OperationsStreamService_PortfolioStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PortfolioStreamRequest'
        description: Запрос установки stream-соединения.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Stream_result_of_v1PortfolioStreamResponse
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Server-side stream обновлений портфеля
      tags:
        - OperationsStreamService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsStreamService/PositionsStream:
    post:
      operationId: OperationsStreamService_PositionsStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PositionsStreamRequest'
        description: Запрос установки stream-соединения позиций.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Stream_result_of_v1PositionsStreamResponse
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Server-side stream обновлений информации по изменению позиций портфеля
      tags:
        - OperationsStreamService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/CancelOrder:
    post:
      operationId: OrdersService_CancelOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CancelOrderRequest'
        description: Запрос отмены торгового поручения.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CancelOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод отмены биржевой заявки.
      tags:
        - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/GetMaxLots:
    post:
      operationId: OrdersService_GetMaxLots
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetMaxLotsRequest'
        description: >-
          Запрос на расчет количества доступных для покупки/продажи лотов. Если
          не указывать цену инструмента, то расчет произведется по текущум ценам
          в стакане: по лучшему предложению для покупки и по лучшему спросу для
          продажи.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetMaxLotsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: расчет количества доступных для покупки/продажи лотов
      tags:
        - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/GetOrderPrice:
    post:
      operationId: OrdersService_GetOrderPrice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrderPriceRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrderPriceResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения предварительной стоимости для лимитной заявки
      tags:
        - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/GetOrderState:
    post:
      operationId: OrdersService_GetOrderState
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrderStateRequest'
        description: Запрос получения статуса торгового поручения.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contractv1OrderState'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения статуса торгового поручения.
      tags:
        - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/GetOrders:
    post:
      operationId: OrdersService_GetOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrdersRequest'
        description: Запрос получения списка активных торговых поручений.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrdersResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка активных заявок по счёту.
      tags:
        - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/PostOrder:
    post:
      operationId: OrdersService_PostOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PostOrderRequest'
            examples:
              PostLimitOrder:
                summary: An example of a limit order
                value:
                  figi: BBG004730N88
                  quantity: 1
                  price:
                    nano: 0
                    units: 250
                  direction: ORDER_DIRECTION_BUY
                  accountId: any account
                  orderType: ORDER_TYPE_LIMIT
                  instrumentId: e6123145-9665-43e0-8413-cd61b8aa9b13
              PostMarketOrder:
                summary: An example of a market order
                value:
                  figi: BBG004730N88
                  quantity: 1
                  direction: ORDER_DIRECTION_BUY
                  accountId: any account
                  orderType: ORDER_TYPE_MARKET
                  instrumentId: e6123145-9665-43e0-8413-cd61b8aa9b13
        description: Запрос выставления торгового поручения.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostOrderResponse'
              example:
                orderId: '40458655448'
                executionReportStatus: EXECUTION_REPORT_STATUS_NEW
                lotsRequested: '1'
                lotsExecuted: '0'
                initialOrderPrice:
                  currency: rub
                  units: '2500'
                  nano: 0
                executedOrderPrice:
                  currency: rub
                  units: '0'
                  nano: 0
                totalOrderAmount:
                  currency: rub
                  units: '0'
                  nano: 0
                initialCommission:
                  currency: rub
                  units: '1'
                  nano: 250000000
                executedCommission:
                  currency: rub
                  units: '0'
                  nano: 0
                aciValue:
                  currency: rub
                  units: '0'
                  nano: 0
                figi: BBG004730N88
                direction: ORDER_DIRECTION_BUY
                initialSecurityPrice:
                  currency: rub
                  units: '250'
                  nano: 0
                orderType: ORDER_TYPE_LIMIT
                message: ''
                instrumentUid: e6123145-9665-43e0-8413-cd61b8aa9b13
                orderRequestId: fd411076-19cf-4e7b-9623-f7c9ca18ec6b
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод выставления заявки.
      tags:
        - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/ReplaceOrder:
    post:
      operationId: OrdersService_ReplaceOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ReplaceOrderRequest'
            examples:
              ReplaceOrder:
                summary: An example of order replace
                value:
                  accountId: any account
                  orderId: '40458655448'
                  idempotencyKey: fd411090-19cf-4e7b-9623-f7c9ca18ec6b
                  quantity: 1
                  price:
                    nano: 0
                    units: 250
        description: Запрос изменения выставленной заявки.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostOrderResponse'
              example:
                orderId: '40458655449'
                executionReportStatus: EXECUTION_REPORT_STATUS_NEW
                lotsRequested: '1'
                lotsExecuted: '0'
                initialOrderPrice:
                  currency: rub
                  units: '2500'
                  nano: 0
                executedOrderPrice:
                  currency: rub
                  units: '0'
                  nano: 0
                totalOrderAmount:
                  currency: rub
                  units: '0'
                  nano: 0
                initialCommission:
                  currency: rub
                  units: '1'
                  nano: 250000000
                executedCommission:
                  currency: rub
                  units: '0'
                  nano: 0
                aciValue:
                  currency: rub
                  units: '0'
                  nano: 0
                figi: BBG004730N88
                direction: ORDER_DIRECTION_BUY
                initialSecurityPrice:
                  currency: rub
                  units: '250'
                  nano: 0
                orderType: ORDER_TYPE_LIMIT
                message: ''
                instrumentUid: e6123145-9665-43e0-8413-cd61b8aa9b13
                orderRequestId: ''
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод изменения выставленной заявки.
      tags:
        - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersStreamService/OrderStateStream:
    post:
      operationId: OrdersStreamService_OrderStateStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1OrderStateStreamRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Stream_result_of_v1OrderStateStreamResponse
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Stream поручений пользователя
      tags:
        - OrdersStreamService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersStreamService/TradesStream:
    post:
      operationId: OrdersStreamService_TradesStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1TradesStreamRequest'
        description: Запрос установки соединения.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stream_result_of_v1TradesStreamResponse'
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Stream сделок пользователя
      tags:
        - OrdersStreamService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/CancelSandboxOrder:
    post:
      operationId: SandboxService_CancelSandboxOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CancelOrderRequest'
        description: Запрос отмены торгового поручения.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CancelOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод отмены торгового поручения в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/CloseSandboxAccount:
    post:
      operationId: SandboxService_CloseSandboxAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CloseSandboxAccountRequest'
        description: Запрос закрытия счёта в песочнице.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CloseSandboxAccountResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод закрытия счёта в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxAccounts:
    post:
      operationId: SandboxService_GetSandboxAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAccountsRequest'
        description: Запрос получения счетов пользователя.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAccountsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения счетов в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxMaxLots:
    post:
      operationId: SandboxService_GetSandboxMaxLots
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetMaxLotsRequest'
        description: >-
          Запрос на расчет количества доступных для покупки/продажи лотов. Если
          не указывать цену инструмента, то расчет произведется по текущум ценам
          в стакане: по лучшему предложению для покупки и по лучшему спросу для
          продажи.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetMaxLotsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: расчет количества доступных для покупки/продажи лотов в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxOperations:
    post:
      operationId: SandboxService_GetSandboxOperations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1OperationsRequest'
        description: Запрос получения списка операций по счёту.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OperationsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения операций в песочнице по номеру счёта.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxOperationsByCursor:
    post:
      operationId: SandboxService_GetSandboxOperationsByCursor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOperationsByCursorRequest'
        description: Запрос списка операций по счёту с пагинацией.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOperationsByCursorResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения операций в песочнице по номеру счета с пагинацией.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxOrderState:
    post:
      operationId: SandboxService_GetSandboxOrderState
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrderStateRequest'
        description: Запрос получения статуса торгового поручения.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contractv1OrderState'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: >-
        Метод получения статуса заявки в песочнице. Заявки хранятся в таблице 7
        дней.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxOrders:
    post:
      operationId: SandboxService_GetSandboxOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrdersRequest'
        description: Запрос получения списка активных торговых поручений.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrdersResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка активных заявок по счёту в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxPortfolio:
    post:
      operationId: SandboxService_GetSandboxPortfolio
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PortfolioRequest'
        description: Запрос получения текущего портфеля по счёту.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PortfolioResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения портфолио в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxPositions:
    post:
      operationId: SandboxService_GetSandboxPositions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PositionsRequest'
        description: Запрос позиций портфеля по счёту.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PositionsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения позиций по виртуальному счёту песочницы.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxWithdrawLimits:
    post:
      operationId: SandboxService_GetSandboxWithdrawLimits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WithdrawLimitsRequest'
        description: Запрос доступного для вывода остатка.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WithdrawLimitsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения доступного остатка для вывода средств в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/OpenSandboxAccount:
    post:
      operationId: SandboxService_OpenSandboxAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1OpenSandboxAccountRequest'
        description: Запрос открытия счёта в песочнице.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OpenSandboxAccountResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод регистрации счёта в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/PostSandboxOrder:
    post:
      operationId: SandboxService_PostSandboxOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PostOrderRequest'
            examples:
              PostSandboxLimitOrder:
                summary: An example of a limit order
                value:
                  figi: BBG004730N88
                  quantity: 1
                  price:
                    nano: 0
                    units: 250
                  direction: ORDER_DIRECTION_BUY
                  accountId: any account
                  orderType: ORDER_TYPE_LIMIT
                  instrumentId: e6123145-9665-43e0-8413-cd61b8aa9b13
              PostSandboxMarketOrder:
                summary: An example of a market order
                value:
                  figi: BBG004730N88
                  quantity: 1
                  direction: ORDER_DIRECTION_BUY
                  accountId: any account
                  orderType: ORDER_TYPE_MARKET
                  instrumentId: e6123145-9665-43e0-8413-cd61b8aa9b13
        description: Запрос выставления торгового поручения.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostOrderResponse'
              example:
                orderId: '40458655448'
                executionReportStatus: EXECUTION_REPORT_STATUS_NEW
                lotsRequested: '1'
                lotsExecuted: '0'
                initialOrderPrice:
                  currency: rub
                  units: '2500'
                  nano: 0
                executedOrderPrice:
                  currency: rub
                  units: '0'
                  nano: 0
                totalOrderAmount:
                  currency: rub
                  units: '0'
                  nano: 0
                initialCommission:
                  currency: rub
                  units: '1'
                  nano: 250000000
                executedCommission:
                  currency: rub
                  units: '0'
                  nano: 0
                aciValue:
                  currency: rub
                  units: '0'
                  nano: 0
                figi: BBG004730N88
                direction: ORDER_DIRECTION_BUY
                initialSecurityPrice:
                  currency: rub
                  units: '250'
                  nano: 0
                orderType: ORDER_TYPE_LIMIT
                message: ''
                instrumentUid: e6123145-9665-43e0-8413-cd61b8aa9b13
                orderRequestId: ''
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод выставления торгового поручения в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/ReplaceSandboxOrder:
    post:
      operationId: SandboxService_ReplaceSandboxOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ReplaceOrderRequest'
            examples:
              ReplaceSandboxOrder:
                summary: An example of order replace
                value:
                  accountId: any account
                  orderId: '40458655448'
                  idempotencyKey: fd411090-19cf-4e7b-9623-f7c9ca18ec6b
                  quantity: 1
                  price:
                    nano: 0
                    units: 250
        description: Запрос изменения выставленной заявки.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostOrderResponse'
              example:
                orderId: '40458655449'
                executionReportStatus: EXECUTION_REPORT_STATUS_NEW
                lotsRequested: '1'
                lotsExecuted: '0'
                initialOrderPrice:
                  currency: rub
                  units: '2500'
                  nano: 0
                executedOrderPrice:
                  currency: rub
                  units: '0'
                  nano: 0
                totalOrderAmount:
                  currency: rub
                  units: '0'
                  nano: 0
                initialCommission:
                  currency: rub
                  units: '1'
                  nano: 250000000
                executedCommission:
                  currency: rub
                  units: '0'
                  nano: 0
                aciValue:
                  currency: rub
                  units: '0'
                  nano: 0
                figi: BBG004730N88
                direction: ORDER_DIRECTION_BUY
                initialSecurityPrice:
                  currency: rub
                  units: '250'
                  nano: 0
                orderType: ORDER_TYPE_LIMIT
                message: ''
                instrumentUid: e6123145-9665-43e0-8413-cd61b8aa9b13
                orderRequestId: ''
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод изменения выставленной заявки.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/SandboxPayIn:
    post:
      operationId: SandboxService_SandboxPayIn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SandboxPayInRequest'
            examples:
              ReplaceSandboxOrder:
                summary: An example of order replace
                value:
                  accountId: any account
                  amount:
                    nano: 500000000
                    currency: rub
                    units: 1360000
        description: Запрос пополнения счёта в песочнице.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SandboxPayInResponse'
              example:
                balance:
                  currency: rub
                  units: '4013749'
                  nano: 800000000
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод пополнения счёта в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.StopOrdersService/CancelStopOrder:
    post:
      operationId: StopOrdersService_CancelStopOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CancelStopOrderRequest'
        description: Запрос отмены выставленной стоп-заявки.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CancelStopOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод отмены стоп-заявки.
      tags:
        - StopOrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.StopOrdersService/GetStopOrders:
    post:
      operationId: StopOrdersService_GetStopOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetStopOrdersRequest'
        description: Запрос получения списка активных стоп-заявок.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetStopOrdersResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка активных стоп заявок по счёту.
      tags:
        - StopOrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.StopOrdersService/PostStopOrder:
    post:
      operationId: StopOrdersService_PostStopOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PostStopOrderRequest'
            examples:
              GoodTillCancelStopOrder:
                summary: An example of a good till cancell stop limit order
                value:
                  figi: BBG004730N88
                  quantity: 1
                  price:
                    nano: 0
                    units: 305
                  stopPrice:
                    units: 300
                    nano: 0
                  direction: STOP_ORDER_DIRECTION_BUY
                  accountId: any account
                  expirationType: STOP_ORDER_EXPIRATION_TYPE_GOOD_TILL_CANCEL
                  stopOrderType: STOP_ORDER_TYPE_STOP_LIMIT
        description: Запрос выставления стоп-заявки.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostStopOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод выставления стоп-заявки.
      tags:
        - StopOrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.UsersService/GetAccounts:
    post:
      operationId: UsersService_GetAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAccountsRequest'
        description: Запрос получения счетов пользователя.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAccountsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения счетов пользователя.
      tags:
        - UsersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.UsersService/GetInfo:
    post:
      operationId: UsersService_GetInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetInfoRequest'
        description: Запрос информации о пользователе.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetInfoResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения информации о пользователе.
      tags:
        - UsersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.UsersService/GetMarginAttributes:
    post:
      operationId: UsersService_GetMarginAttributes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetMarginAttributesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetMarginAttributesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Расчёт маржинальных показателей по счёту.
      tags:
        - UsersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.UsersService/GetUserTariff:
    post:
      operationId: UsersService_GetUserTariff
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetUserTariffRequest'
        description: Запрос текущих лимитов пользователя.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetUserTariffResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Запрос тарифа пользователя.
      tags:
        - UsersService
      x-codegen-request-body-name: body
components:
  schemas:
    GetAssetFundamentalsResponseStatisticResponse:
      example:
        domicileIndicatorCode: domicileIndicatorCode
        assetUid: assetUid
        dividendYieldDailyTtm: 3.0937452626664474
        priceToSalesTtm: 4.965218492984954
        adrToCommonShareRatio: 7.740351818741173
        highPriceLast52Weeks: 6.027456183070403
        dividendRateTtm: 7.143538047012306
        revenueChangeFiveYears: 3.0576100241049344
        totalDebtMrq: 1.284659006116532
        fiveYearAnnualRevenueGrowthRate: 6.84685269835264
        fiveYearAnnualDividendGrowthRate: 6.519180951018382
        freeFloat: 7.061401241503109
        freeCashFlowToPrice: 6.878052220127876
        revenueTtm: 2.027123023002322
        totalEnterpriseValueMrq: 9.369310271410669
        epsTtm: 1.2315135367772556
        peRatioTtm: 1.1730742509559433
        fiscalPeriodStartDate: 2000-01-23T04:56:07.000Z
        evToSales: 4.078845849666752
        fiscalPeriodEndDate: 2000-01-23T04:56:07.000Z
        roic: 6.965117697638846
        dividendPayoutRatioFy: 0.10263654006109402
        marketCapitalization: 0.8008281904610115
        ebitdaChangeFiveYears: 5.533258397034986
        epsChangeFiveYears: 7.04836565559697
        priceToFreeCashFlowTtm: 9.965781217890562
        numberOfEmployees: 3.0205796992916243
        netInterestMarginMrq: 9.018348186070783
        oneYearAnnualRevenueGrowthRate: 8.969578798196912
        currentRatioMrq: 6.704019297950036
        averageDailyVolumeLast4Weeks: 5.637376656633329
        forwardAnnualDividendYield: 9.301444243932576
        netMarginMrq: 8.762042012749001
        roa: 3.5571952270680973
        totalDebtToEbitdaMrq: 6.778324963048013
        roe: 6.438423552598547
        freeCashFlowTtm: 1.4894159098541704
        evToEbitdaMrq: 6.683562403749608
        fiveYearsAverageDividendYield: 7.058770351582356
        priceToBookTtm: 5.025004791520295
        totalDebtToEquityMrq: 2.8841621266687802
        averageDailyVolumeLast10Days: 5.962133916683182
        fixedChargeCoverageRatioFy: 3.353193347011243
        currency: currency
        netIncomeTtm: 7.386281948385884
        sharesOutstanding: 3.616076749251911
        beta: 2.3021358869347655
        threeYearAnnualRevenueGrowthRate: 7.457744773683766
        totalDebtChangeFiveYears: 3.2588565619047607
        lowPriceLast52Weeks: 1.4658129805029452
        exDividendDate: 2000-01-23T04:56:07.000Z
        ebitdaTtm: 4.145608029883936
        netDebtToEbitda: 5.944895607614016
        dilutedEpsTtm: 1.0246457001441578
        buyBackTtm: 4.652396432933246
        dividendsPerShare: 0.8851374739011653
      properties:
        assetUid:
          title: Идентификатор актива
          type: string
        currency:
          title: Валюта
          type: string
        marketCapitalization:
          format: double
          title: Рыночная капитализация
          type: number
        highPriceLast52Weeks:
          format: double
          title: Максимум за год
          type: number
        lowPriceLast52Weeks:
          format: double
          title: Минимум за год
          type: number
        averageDailyVolumeLast10Days:
          format: double
          title: Средний объем торгов за 10 дней
          type: number
        averageDailyVolumeLast4Weeks:
          format: double
          title: Средний объем торгов за месяц
          type: number
        beta:
          format: double
          type: number
        freeFloat:
          format: double
          title: Доля акций в свободном обращении
          type: number
        forwardAnnualDividendYield:
          description: Процент форвардной дивидендной доходности по отношению к цене акций.
          format: double
          type: number
        sharesOutstanding:
          format: double
          title: Количество акций в обращении
          type: number
        revenueTtm:
          format: double
          title: Выручка
          type: number
        ebitdaTtm:
          format: double
          title: EBITDA Прибыль до вычета процентов, налогов, износа и амортизации
          type: number
        netIncomeTtm:
          format: double
          title: Чистая прибыль
          type: number
        epsTtm:
          format: double
          title: >-
            EPS Величина чистой прибыли компании, приходящуюся на каждую
            обыкновенную акцию
          type: number
        dilutedEpsTtm:
          format: double
          title: >-
            EPS компании с допущением, что все конвертируемые ценные бумаги
            компании были сконвертированы в обыкновенные акции
          type: number
        freeCashFlowTtm:
          format: double
          title: Свободный денежный поток
          type: number
        fiveYearAnnualRevenueGrowthRate:
          format: double
          title: Среднегодовой  рocт выручки (за 5 лет)
          type: number
        threeYearAnnualRevenueGrowthRate:
          format: double
          title: Среднегодовой  рocт выручки (за 3 года)
          type: number
        peRatioTtm:
          format: double
          title: >-
            Показывает соотношение рыночной капитализации компании к ее чистой
            прибыли
          type: number
        priceToSalesTtm:
          format: double
          title: Показывает соотношение рыночной капитализации компании к ее выручке
          type: number
        priceToBookTtm:
          format: double
          title: >-
            Показывает соотношение рыночной капитализации компании к ее
            балансовой стоимости
          type: number
        priceToFreeCashFlowTtm:
          format: double
          title: >-
            Показывает соотношение рыночной капитализации компании к ее
            свободному денежному потоку
          type: number
        totalEnterpriseValueMrq:
          format: double
          title: Рыночная стоимость компании
          type: number
        evToEbitdaMrq:
          format: double
          title: Соотношение EV и EBITDA
          type: number
        netMarginMrq:
          format: double
          title: Маржа чистой прибыли
          type: number
        netInterestMarginMrq:
          format: double
          title: Рентабельность чистой прибыли
          type: number
        roe:
          format: double
          title: Рентабельность собственного капитала
          type: number
        roa:
          format: double
          title: Рентабельность активов
          type: number
        roic:
          format: double
          title: Рентабельность активов
          type: number
        totalDebtMrq:
          format: double
          title: Сумма краткосрочных и долгосрочных обязательств компании
          type: number
        totalDebtToEquityMrq:
          format: double
          title: Соотношение долга к собственному капиталу
          type: number
        totalDebtToEbitdaMrq:
          format: double
          title: Total Debt/EBITDA
          type: number
        freeCashFlowToPrice:
          format: double
          title: Отношение свободглго кэша к стоимости
          type: number
        netDebtToEbitda:
          format: double
          title: Отношение чистого долга к ebitda
          type: number
        currentRatioMrq:
          format: double
          title: Коэффициент текущей ликвидности
          type: number
        fixedChargeCoverageRatioFy:
          format: double
          title: Коэффициент покрытия фиксированных платежей (FCCR)
          type: number
        dividendYieldDailyTtm:
          format: double
          title: Дивидендная доходность за 12 мес
          type: number
        dividendRateTtm:
          description: Выплаченные дивиденды за 12 мес.
          format: double
          type: number
        dividendsPerShare:
          format: double
          title: Значение дивидендов на акцию
          type: number
        fiveYearsAverageDividendYield:
          format: double
          title: Средняя дивидендная доходность за 5 лет
          type: number
        fiveYearAnnualDividendGrowthRate:
          format: double
          title: Среднегодовой рост дивидендов за 5 лет
          type: number
        dividendPayoutRatioFy:
          format: double
          title: Процент чистой прибыли, уходящий на выплату дивидендов
          type: number
        buyBackTtm:
          format: double
          title: Деньги, потраченные на обратный выкуп акций
          type: number
        oneYearAnnualRevenueGrowthRate:
          format: double
          title: Рост выручки за 1 год
          type: number
        domicileIndicatorCode:
          title: Код страны
          type: string
        adrToCommonShareRatio:
          format: double
          title: Соотношение депозитарной расписки к акциям
          type: number
        numberOfEmployees:
          format: double
          title: Количество сотрудников
          type: number
        exDividendDate:
          format: date-time
          type: string
        fiscalPeriodStartDate:
          format: date-time
          title: Начало фискального периода
          type: string
        fiscalPeriodEndDate:
          format: date-time
          title: Конец фискального периода
          type: string
        revenueChangeFiveYears:
          format: double
          title: Изменение общего дохода за 5 лет
          type: number
        epsChangeFiveYears:
          format: double
          title: Изменение eps за 5 лет
          type: number
        ebitdaChangeFiveYears:
          format: double
          title: Изменение ebitda за 5 лет
          type: number
        totalDebtChangeFiveYears:
          format: double
          title: Изменение общей задолжности за 5 лет
          type: number
        evToSales:
          format: double
          title: Отношение EV к выручке
          type: number
      title: Фундаментальные показатели по активу
      type: object
    GetAssetReportsResponseAssetReportPeriodType:
      default: PERIOD_TYPE_UNSPECIFIED
      enum:
        - PERIOD_TYPE_UNSPECIFIED
        - PERIOD_TYPE_QUARTER
        - PERIOD_TYPE_SEMIANNUAL
        - PERIOD_TYPE_ANNUAL
      title: |-
        - PERIOD_TYPE_UNSPECIFIED: не указан
         - PERIOD_TYPE_QUARTER: Квартальный
         - PERIOD_TYPE_SEMIANNUAL: Полугодовой
         - PERIOD_TYPE_ANNUAL: Годовой
      type: string
    GetAssetReportsResponseGetAssetReportsEvent:
      example:
        periodNum: 6
        createdAt: 2000-01-23T04:56:07.000Z
        reportDate: 2000-01-23T04:56:07.000Z
        periodYear: 0
        instrumentId: instrumentId
      properties:
        instrumentId:
          description: Идентификатор инструмента.
          type: string
        reportDate:
          description: Дата публикации отчета.
          format: date-time
          type: string
        periodYear:
          description: Год периода отчета.
          format: int32
          type: integer
        periodNum:
          description: Номер периода.
          format: int32
          type: integer
        periodType:
          $ref: '#/components/schemas/GetAssetReportsResponseAssetReportPeriodType'
        createdAt:
          description: Дата создания записи.
          format: date-time
          type: string
      title: Отчет
      type: object
    GetBondEventsRequestEventType:
      default: EVENT_TYPE_UNSPECIFIED
      enum:
        - EVENT_TYPE_UNSPECIFIED
        - EVENT_TYPE_CPN
        - EVENT_TYPE_CALL
        - EVENT_TYPE_MTY
        - EVENT_TYPE_CONV
      title: |-
        - EVENT_TYPE_UNSPECIFIED: Неопределенное значение
         - EVENT_TYPE_CPN: Купон
         - EVENT_TYPE_CALL: Опцион (оферта)
         - EVENT_TYPE_MTY: Погашение
         - EVENT_TYPE_CONV: Конвертация
      type: string
    GetBondEventsResponseBondEvent:
      example:
        fixDate: 2000-01-23T04:56:07.000Z
        execution: execution
        note: note
        defaultDate: 2000-01-23T04:56:07.000Z
        eventNumber: 0
        instrumentId: instrumentId
        couponEndDate: 2000-01-23T04:56:07.000Z
        rateDate: 2000-01-23T04:56:07.000Z
        payOneBond:
          nano: 5
          currency: currency
          units: units
        moneyFlowVal:
          nano: 5
          currency: currency
          units: units
        couponPeriod: 6
        convertToFinToolId: convertToFinToolId
        couponInterestRate:
          nano: 6
          units: units
        eventTotalVol:
          nano: 6
          units: units
        realPayDate: 2000-01-23T04:56:07.000Z
        operationType: operationType
        value:
          nano: 6
          units: units
        couponStartDate: 2000-01-23T04:56:07.000Z
        eventDate: 2000-01-23T04:56:07.000Z
        payDate: 2000-01-23T04:56:07.000Z
      properties:
        instrumentId:
          title: Идентификатор инструмента
          type: string
        eventNumber:
          format: int32
          title: Номер события для данного типа события
          type: integer
        eventDate:
          format: date-time
          title: Дата события
          type: string
        eventType:
          $ref: '#/components/schemas/GetBondEventsRequestEventType'
        eventTotalVol:
          $ref: '#/components/schemas/v1Quotation'
        fixDate:
          format: date-time
          title: Дата фиксации владельцев для участия в событии
          type: string
        rateDate:
          format: date-time
[...]
