openapi: "3.0.1"
info:
  title: "T-Invest API"
  termsOfService: "https://www.tbank.ru/invest/disclaimers/basic-information/"
  contact:
    email: "al.a.volkov@tbank.ru"
  version: "1.35"
  license:
    name: "Apache 2.0"
    url: "https://www.apache.org/licenses/LICENSE-2.0"
servers:
  - url: "https://invest-public-api.tinkoff.ru/rest"
    description: "Работа с биржей"
  - url: "https://sandbox-invest-public-api.tinkoff.ru/rest"
    description: "Работа в песочнице"
security:
  - Bearer: []
externalDocs:
  description: "Документация T-Invest API"
  url: "https://russianinvestments.github.io/investAPI/"
tags:
  - name: "InstrumentsService"
  - name: "MarketDataService"
  - name: "OperationsService"
  - name: "OrdersService"
  - name: "SandboxService"
  - name: "StopOrdersService"
  - name: "UsersService"
paths:
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/BondBy:
    post:
      operationId: "InstrumentsService_BondBy"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentRequest"
        description: "Запрос получения инструмента по идентификатору."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1BondResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "BondBy — получить облигацию по ее идентификатору"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Bonds:
    post:
      operationId: "InstrumentsService_Bonds"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentsRequest"
        description: "Запрос получения инструментов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1BondsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "Bonds — список облигаций"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/CreateFavoriteGroup:
    post:
      operationId: "InstrumentsService_CreateFavoriteGroup"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1CreateFavoriteGroupRequest"
        description: "Запрос создания новой группы избранных инструментов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1CreateFavoriteGroupResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "CreateFavoriteGroup — создать новую группу избранных инструментов"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Currencies:
    post:
      operationId: "InstrumentsService_Currencies"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentsRequest"
        description: "Запрос получения инструментов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1CurrenciesResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "Currencies — список валют"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/CurrencyBy:
    post:
      operationId: "InstrumentsService_CurrencyBy"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentRequest"
        description: "Запрос получения инструмента по идентификатору."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1CurrencyResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "CurrencyBy — получить валюту по ее идентификатору"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/DeleteFavoriteGroup:
    post:
      operationId: "InstrumentsService_DeleteFavoriteGroup"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1DeleteFavoriteGroupRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1DeleteFavoriteGroupResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "DeleteFavoriteGroup — удалить группу избранных инструментов"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/EditFavorites:
    post:
      operationId: "InstrumentsService_EditFavorites"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1EditFavoritesRequest"
        description: "Запрос редактирования списка избранных инструментов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1EditFavoritesResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "EditFavorites — отредактировать список избранных инструментов"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/EtfBy:
    post:
      operationId: "InstrumentsService_EtfBy"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentRequest"
        description: "Запрос получения инструмента по идентификатору."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1EtfResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "EtfBy — получить инвестиционный фонд по его идентификатору"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Etfs:
    post:
      operationId: "InstrumentsService_Etfs"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentsRequest"
        description: "Запрос получения инструментов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1EtfsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "Etfs — список инвестиционных фондов"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/FindInstrument:
    post:
      operationId: "InstrumentsService_FindInstrument"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1FindInstrumentRequest"
        description: "Запрос на поиск инструментов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1FindInstrumentResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "FindInstrument — найти инструмент"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/FutureBy:
    post:
      operationId: "InstrumentsService_FutureBy"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentRequest"
        description: "Запрос получения инструмента по идентификатору."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1FutureResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "FutureBy — получить фьючерс по его идентификатору"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Futures:
    post:
      operationId: "InstrumentsService_Futures"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentsRequest"
        description: "Запрос получения инструментов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1FuturesResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "Futures — список фьючерсов"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAccruedInterests:
    post:
      operationId: "InstrumentsService_GetAccruedInterests"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetAccruedInterestsRequest"
        description: "Запрос НКД по облигации."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetAccruedInterestsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetAccruedInterests — накопленный купонный доход по облигации"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAssetBy:
    post:
      operationId: "InstrumentsService_GetAssetBy"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1AssetRequest"
        description: "Запрос актива по идентификатору."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1AssetResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetAssetBy — получить актив по его идентификатору"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAssetFundamentals:
    post:
      operationId: "InstrumentsService_GetAssetFundamentals"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetAssetFundamentalsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetAssetFundamentalsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetAssetFundamentals — фундаментальные показатели по активу"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAssetReports:
    post:
      operationId: "InstrumentsService_GetAssetReports"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetAssetReportsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetAssetReportsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetAssetReports — расписания выхода отчетностей эмитентов"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAssets:
    post:
      operationId: "InstrumentsService_GetAssets"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1AssetsRequest"
        description: "Запрос списка активов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1AssetsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetAssets — список активов"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
      description: "Метод работает для всех инструментов, кроме срочных — фьючерсов и опционов"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetBondCoupons:
    post:
      operationId: "InstrumentsService_GetBondCoupons"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetBondCouponsRequest"
        description: "Запрос купонов по облигации."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetBondCouponsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetBondCoupons — график выплат купонов по облигации"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetBondEvents:
    post:
      operationId: "InstrumentsService_GetBondEvents"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetBondEventsRequest"
        description: "События по облигации."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetBondEventsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetBondEvents — события по облигации"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetBrandBy:
    post:
      operationId: "InstrumentsService_GetBrandBy"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetBrandRequest"
        description: "Запрос бренда."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1Brand"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetBrandBy — получить бренд по его идентификатору"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetBrands:
    post:
      operationId: "InstrumentsService_GetBrands"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetBrandsRequest"
        description: "Запрос списка брендов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetBrandsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetBrands — список брендов"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetConsensusForecasts:
    post:
      operationId: "InstrumentsService_GetConsensusForecasts"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetConsensusForecastsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetConsensusForecastsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetConsensusForecasts — мнения аналитиков по инструменту"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetCountries:
    post:
      operationId: "InstrumentsService_GetCountries"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetCountriesRequest"
        description: "Запрос справочника стран."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetCountriesResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetCountries — список стран"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetDividends:
    post:
      operationId: "InstrumentsService_GetDividends"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetDividendsRequest"
        description: "Запрос дивидендов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetDividendsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetDividends — события выплаты дивидендов по инструменту"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetFavoriteGroups:
    post:
      operationId: "InstrumentsService_GetFavoriteGroups"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetFavoriteGroupsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetFavoriteGroupsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetFavoriteGroups — список групп избранных инструментов"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetFavorites:
    post:
      operationId: "InstrumentsService_GetFavorites"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetFavoritesRequest"
        description: "Запрос списка избранных инструментов, входные параметры не требуются."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetFavoritesResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetFavorites — получить список избранных инструментов"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetForecastBy:
    post:
      operationId: "InstrumentsService_GetForecastBy"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetForecastRequest"
        description: "Запрос прогнозов инвестдомов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetForecastResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetForecastBy — прогнозы инвестдомов по инструменту"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetFuturesMargin:
    post:
      operationId: "InstrumentsService_GetFuturesMargin"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1GetFuturesMarginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetFuturesMarginResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetFuturesMargin — размера гарантийного обеспечения по фьючерсам"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetInstrumentBy:
    post:
      operationId: "InstrumentsService_GetInstrumentBy"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentRequest"
        description: "Запрос получения инструмента по идентификатору."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1InstrumentResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetInstrumentBy — основная информация об инструменте"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetRiskRates:
    post:
      operationId: "InstrumentsService_GetRiskRates"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1RiskRatesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1RiskRatesResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "GetRiskRates — ставки риска по инструменту"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Indicatives:
    post:
      operationId: "InstrumentsService_Indicatives"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1IndicativesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1IndicativesResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "Indicatives — индикативные инструменты — индексы, товары и другие"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/OptionBy:
    post:
      operationId: "InstrumentsService_OptionBy"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentRequest"
        description: "Запрос получения инструмента по идентификатору."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1OptionResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "OptionBy — получить опцион по его идентификатору"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Options:
    post:
      operationId: "InstrumentsService_Options"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentsRequest"
        description: "Запрос получения инструментов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1OptionsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "Deprecated Options — список опционов"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/OptionsBy:
    post:
      operationId: "InstrumentsService_OptionsBy"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1FilterOptionsRequest"
        description: "Параметры фильтрации опционов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1OptionsResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "OptionsBy — список опционов"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/ShareBy:
    post:
      operationId: "InstrumentsService_ShareBy"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentRequest"
        description: "Запрос получения инструмента по идентификатору."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ShareResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "ShareBy — получить акцию по ее идентификатору"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Shares:
    post:
      operationId: "InstrumentsService_Shares"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1InstrumentsRequest"
        description: "Запрос получения инструментов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1SharesResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 5
                message: "account not found"
                description: 50004
        "408":
          description: "Request Timeout"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
        "501":
          description: "Not Implemented"
        "503":
          description: "Service Unavailable"
        "504":
          description: "Gateway Timeout"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
          description: "An unexpected error response"
      summary: "Shares — список акций"
      tags:
        - "InstrumentsService"
      x-codegen-request-body-name: "body"
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/TradingSchedules:
    post:
      operationId: "InstrumentsService_TradingSchedules"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1TradingSchedulesRequest"
        description: "Запрос расписания торгов."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1TradingSchedulesResponse"
          description: "A successful response"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 3
                message: "interval is invalid"
                description: 30011
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 16
                message: "authentication token is missing or invalid"
                description: 40003
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
              example:
                code: 7
                message: "insufficient privileges"
                description: 40002
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                oneOf:
[...]
